@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* 
{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pokebell, sans-serif;
    font-size: 1.1rem;
    
    
}

@font-face {
    font-family : Pokebell;
    src: url(DePixelKlein.otf);
}

:root
{
    --color1: #d4062c;	/*Rouge Pokedex -Couleur principale de la coque extérieure	*/

    --color2: #94011c;	/*Rouge profond -Variante plus foncée pour les ombres/surfaces internes*/	

    --color3: #2E2E2E;	/*Noir Bordure - Détails, contours, rainures*/

    --color4: #7D7D7D;	/*Gris Metallique - Pour les zones métalliques (articulations, vis)	*/

    --color5: #B0C4DE;	/*Bleu Ecran - Écran principal (aspect rétro LCD bleuté)*/

    --color6: #228B22;	/*vert bouton - Un des boutons (souvent vert ou vert forêt)*/	

    --color7: #f29c06;	/*Jaune bouton - Bouton secondaire (souvent jaune doré)*/	

    --color8: #4682B4;	/*Bleu bouton - Un autre bouton ou LED	*/

    --color9: #F5F5F5;	/*Blanc led - Pour les petits éléments lumineux ou contours*/

}

header{
    display: flex;
    position: fixed;
    top: 5px;
    height: 80px;
    width: 98%;
    margin-left: 1%;
    border-radius: 30px;
    margin: 10px;
    background-color: var(--color1);
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    box-shadow:  5px 5px 2px #94011c;
    /* position: relative; */
    z-index: 1;

    img{
    height:135px;
    }
    
    .btn{
        cursor: pointer;
    }
    ul{
        display: flex;
        list-style: none;
        gap: 80px;
        
        li{
            padding: 10px ;
            background-color: #67C09D;
            border: 2px solid black;
            border-radius: 10px;
            list-style: none;
            font-size: 1.4rem;
            box-shadow: 2px 2px 3px #242424;
            transition: ease-in-out 200ms;
        }
        li:hover{
            box-shadow: 0px 0px 0px #242424;
        }
        
    }
    
    .Logo 
    {
        height: 80px;
    }
}

#titleName{
    font-size: 30px;
    color: #14ccf5;
    border-bottom: 2px solid;
}
 
.titleStat{
   
    border-bottom: 2px solid;
}

body 
{

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url(../Assets/b6d33032-8ed4-4876-a1a7-8e98068b49b2_lakeanim_kristyphlosion_social.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h2 
    {
        color: var(--color5);
        justify-self: center;
    }

    #main-container 
    {
        display: flex;
        flex-direction: row;
        min-width: 50vw;
        min-height: 70%;
        margin: auto;
        margin-top: 15vh;
        background-image: url(testpoke.png);     
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    select {
        font-size: 25px;
        background-color: #67C09D;
        border-radius: 10px;
        border: 2px solid black;
        width: 146px;
        height: 66px;
        margin-left: -85px;
        margin-top: 10px;
        text-transform: capitalize;
        color: black;
        cursor: pointer;
        appearance: none;
        padding: 8px;
        box-shadow: 2px 2px 3px #242424;
        transition: ease-in-out 200ms;
        }

        select option{
                background-color: #aac4b9d5;
                font-weight: 500;
                color: black;
                height: 100px;
            }

        select::-webkit-scrollbar{
            display: none;
            }

        select:focus{
            outline: none;
        }

        #affichage{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 70%;
            min-height: 32%;
            border-radius: 15px;
            background-size: 70%;
            background-position: center;
            background-repeat: no-repeat;      
            background-color: rgb(36, 36, 36);
              
        }
        
        #rightScreen{
            display: flex;
            flex-direction: column;
            align-items: start;
            background-color: rgb(36, 36, 36);
            width: 100%;
            height: 60%;
            border-radius: 15px;
            background-size: 70%;
            h2{
                text-transform: capitalize;
                margin-left: 40px;
                line-height: 50px;
            }
            
        }
        
        #btnScreen{
            width: 100%;
            height: 75px;
            border-radius: 15px;
            background-size: 70%;
            display: flex;
            justify-content: space-between;
            border-radius: 3px;
            div{
                border-radius: 5px;
                border: 1px solid black;
                width: 19.8%;
                background-color: #22c4ea;
                transition: ease-in-out 200ms;
                &:hover{
                    background-color: #236991;
                    box-shadow: 0px 3px 10px #228B22;
                    scale:.95;
                }
            }
        }
        
        
        #comp{
            display: flex;
            flex-direction: column;
        }
        #comps{
            display: flex;
            flex-direction: column;
        }
    }


footer 
{
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 98%;
    height: 80px;
    border-radius: 15px;
    background-color: var(--color1);
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    box-shadow:  5px 5px 2px #94011c;
    .miniPoke{
        height: 65px;
    }
 
}

.foot{
    margin: 20px 20px;
    img{
        margin-left: 30px;
    }
}

.left{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.blank nav{
    width: 100%;
    height: 100%;
    text-align: center;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-left: 45px;
    width: 38%;
    height: 80%;
}
.loader {
    scale: .7;
    height: 35%;
    width: 22%;
}
.blank{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}
.blank1{
    height: 30%;
    width: 100%;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}

.loader::after {
    background: radial-gradient(at 75% 15%,#fffb,#0000 35%),
    radial-gradient(at 80% 40%,#0000,#0008),
    radial-gradient(circle  5px,#fff 94%,#0000),
    radial-gradient(circle 10px,#000 94%,#0000),
    linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
    linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)#000;
    background-repeat: no-repeat;
    animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
}

@keyframes l20 {
 
  30%,70% {
    transform: rotate(0deg)
  }

  49.99% {
    transform: rotate(0.2deg)
  }

  50% {
    transform: rotate(-0.2deg)
  }
}

#myChart{
    width: 100%;
    height: 100%;
    margin: auto;
}

#play{
    background-color: var(--color6);
    border-radius: 50px;
    position: absolute;
    left: 80%;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 3px #242424;
    transition: ease-in-out 200ms;
    img{
        width: 100%;
        height: 100%;
    }
    &:hover{
        box-shadow: 0px 0px 0px #242424;
    }
}




/*********** VERSUS *********/

#versus-container {
    display: flex;
    height: 70vh;
    width: 90vw;

    justify-content: center;
        

        #Poke1, #Poke2 {
            width: 160px; 
            text-transform: capitalize;
            text-align: center;
            color: #fff;
            background-color: rgb(103, 191, 156);
            height: 45px;
            border-radius: 10px;
            color: black;
            margin-left: 5px;
            margin-bottom: 20px;
        }
        
        
        
        .battle{
            display: flex;
            flex-direction: column;
            flex-grow: 3;
            align-items: center;
        }


        .eclate-btn {
            flex-grow: 0.5;
            align-self: flex-end;

            width: 150px;
            height: 100px;

            background: linear-gradient(145deg, #a8ff78, #78ffd6);
            color: #111;
            font-size: 22px;
            font-weight: bold;
            padding: 18px 40px;
            border: 4px dashed #3fff00;
            border-radius: 25px;
            box-shadow:
                0 0 10px #3fff00,
                0 0 20px #3fff00,
                0 0 30px #fff,
                inset 0 0 5px #fff;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            animation: pulse 1s infinite alternate;
        }

        .eclate-btn:hover {
            transform: rotate(-2deg) scale(1.1);
            box-shadow:
                0 0 15px #00ff5e,
                0 0 25px #fff,
                0 0 40px #00ff5e,
                inset 0 0 8px #fff;
            filter: hue-rotate(45deg) saturate(200%);
        }

        .eclate-btn:active {
            transform: scale(0.95) rotate(1deg);
            box-shadow: 0 0 10px #ff0 inset;
        }

        #PokeAff1,#PokeAff2{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 23vw;
            height: 55vh;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 
                0 8px 32px rgba(0, 0, 0, 0.1),
                inset 0 1px 0 rgba(255, 255, 255, 0.5),
                inset 0 -1px 0 rgba(255, 255, 255, 0.1),
                inset 0 0 10px 7px rgba(255, 255, 255, 0.5);
                position: relative;
            overflow: hidden;
            img{
                align-self: center;
                width: 200px;
                height: 200px;
            }
            h2{
                margin-left: 25px;
                color: #000;
            }
        }
           
    
        
    }

#versus-battle{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
}

.bottomBattle{
    display: flex;
    height: 40%;
}

.topBattle{
    display: flex;
    height: 40%;
    
}

#backBattle{
    height: 20%;
    color: red;
}

#statYourPoke{
    display: flex;
    .hp{
        background-color: rgb(95, 88, 88);
        height: 120px;
        width: 400px;
        border-radius: 10px;
        border: 3px solid black;
        box-shadow: 2px 2px 3px #242424;
    }
    color: rgb(1, 208, 223);
    flex: 2;
    #hpYour{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



#statMyPoke{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    color: rgb(84, 0, 163);
    flex: 2;
    .hp{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(95, 88, 88);
        height: 120px;
        width: 400px;
        border-radius: 10px;
        border: 3px solid black;
        box-shadow: 2px 2px 3px #242424;
    }
    .action{
        display: flex;
        gap:10px;   
        button{
            height: 60px;
            width: 100px;
            border-radius: 15px;
            background-color: rgb(103, 191, 156);
            box-shadow: 2px 2px 3px #242424;
            transition: ease-in-out 200ms;
            cursor: pointer;
            border: 2px solid black;
        }
        button:hover{
            box-shadow: 0px 0px 0px #242424;
        }
    }
}



#spriteMyPoke{
    color: rgb(163, 34, 34);
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        scale: 4;
    }
}

#spriteYourPoke{
    background-position: center;
    background-size: contain;
    color: rgb(197, 233, 37);
    flex: 1.5;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        scale: 4;
    }
    
}
        
        
        
        
        @keyframes pulse {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(1.03) rotate(0.5deg);
            }
        }


